body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("https://static.vecteezy.com/system/resources/previews/013/786/977/non_2x/sunset-scene-in-forest-glowing-forest-sky-with-mountains-landscape-background-illustration-vector.jpg");
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #f2d78e;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    background-color: #f89c2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #f89c2c;
}