<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="createCategory.css">
  <title>Categoria</title>
</head>
<body>
<div class="container">
  <h1>Crear Categoria</h1>
  <form id="categoryCreationForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" required>
    </div>
    <button type="submit">Crear Oferta</button>
  </form>
</div>

<script src="createCategory.js"></script>
</body>
</html>